<style>
html{
        font-family:Georgia;
        background-image:url('');
    }
.res_display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 20px;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin:15px;
}

.display_bar {
    width: 450px;
    height: 100px;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
    color:#000000;
    background-color:#c9ffc7;
}

#numbers {
    width: 100px;
    height: 100px;
    font-size:30px;
}

.number_container {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom:10px;
}

#row1 input[type="button"]{
    background-color:#ffcea5;
}

#row1 input[type="button"]:active{
    background-color:#ffffff;
}

#row2 input[type="button"]{
    background-color:#ffdbdb;
}

#row2 input[type="button"]:active{
    background-color:#ffffff;
}

#row3 input[type="button"]{
    background-color:#d2fafd;
}

#row3 input[type="button"]:active{
    background-color:#ffffff;
}

#row4 input[type="button"]{
    background-color:#fff9d4;
}

#row4 input[type="button"]:active{
    background-color:#ffffff;
}

#row5 input{
    background-color:#c8c4e5;
}

#row5 input:active{
    background-color:#ffffff;
}

.go_back {
    text-align: center;
    margin: 20px 0;
}

.go_back a {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 100px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.go_back a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.go_back a:active {
    transform: scale(0.95);
    background-color: #f3a380;
}
</style>

<h2>Powers & Roots</h2>
<div>
<div class="res_display">
    <input type="text" name="result" class="display_bar" value="" placeholder="View Result Here" disabled />
</div>

<div class="number_container" id=row1>
    <input type="button" name="ac" id="numbers" class="ac" value="AC" />
    <input type="button" name="square" id="numbers" class="square" value="x²" />
    <input type="button" name="squareroot" id="numbers" class="squareroot" value="√x" />
    <input type="button" name="cube" id="numbers" class="cube" value="x³" />
</div>

<div class="number_container" id=row2>
    <input type="button" name="num9" id="numbers" value="9" />
    <input type="button" name="num8" id="numbers" value="8" />
    <input type="button" name="num7" id="numbers" value="7" />
    <input type="button" name="cuberoot" id="numbers" class="cuberoot" value="∛x" />
</div>

<div class="number_container" id=row3>
    <input type="button" name="num4" id="numbers" value="4" />
    <input type="button" name="num5" id="numbers" value="5" />
    <input type="button" name="num6" id="numbers" value="6" />
    <input type="button" name="power" id="numbers" class="power" value="xⁿ" />
</div>

<div class="number_container" id=row4>
    <input type="button" name="num1" id="numbers" value="1" />
    <input type="button" name="num2" id="numbers" value="2" />
    <input type="button" name="num3" id="numbers" value="3" />
    <input type="button" name="bckspace" id="numbers" value="⌫" />

</div>

<div class="number_container" id=row5>
    <input type="button" name="num0" id="numbers" value="0" />
    <input type="button" name="num00" id="numbers" value="00" />
    <input type="button" name="point" id="numbers" value="." />
    <input type="submit" name="equal" id="numbers" value="=" />
</div>


</div>
<div class="go_back">
    <a href="/"> <b>←</b> Go Back</a>
</div>